@model UpdateProductVM

<div class="container pt-3">
    <form method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" pleaseholder="Product Title" class="form-control">
            <span asp-validation-for="Title" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" pleaseholder="Product Description" class="form-control">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductCode" class="form-label"></label>
            <input asp-for="ProductCode" pleaseholder="Product Code" class="form-control">
            <span asp-validation-for="ProductCode" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" pleaseholder="Product Price" class="form-control">
            <span asp-validation-for="Price" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label"></label>
            <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))" class="form-control" placeholder="Category"> </select>
            <span asp-validation-for="CategoryId" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ColorIds" class="form-label"></label>
            <select asp-for="ColorIds" asp-items="new SelectList(Model.Colors,nameof(Color.Id),nameof(Color.Name))" class="form-control" placeholder="Colors"> </select>
            <span asp-validation-for="CategoryId" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SizeIds" class="form-label"></label>
            <select asp-for="SizeIds" asp-items="new SelectList(Model.Sizes,nameof(Size.Id),nameof(Size.Name))" class="form-control" placeholder="Sizes"> </select>
            <span asp-validation-for="SizeIds" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TagIds" class="form-label"></label>
            <select asp-for="TagIds" asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))" class="form-control" placeholder="Tags"> </select>
            <span asp-validation-for="TagIds" style="color:red"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
